@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #171919; 
}

main.main-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

.main-container_url{
    display: flex;
    justify-content: stretch;
    padding: 10px;
}

.main-container_header{
    padding: 10px;
}

#request_url{
padding: 10px;
width: 100%;
}

#request_type{

padding: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
    background-color: #b9e2b4;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

.main-container_response{
	padding:10px;
}

#response{
    display:block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    height: 22em;
    font-family: cursive;
    line-height: 18px;
    resize: none;
    background-color: #171919;
    width: -webkit-fill-available;
    overflow: auto;
}

#get_response{
padding: 10px;
}

.tab button:hover {background-color: #baf5af;color: white;}
.tab button.active {background-color: #4aca33;color: white;}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    height: 5em;
    font-family: cursive;
    line-height: 18px;
    resize: none;
    background-color: #171919;
    width: -webkit-fill-available;
    overflow: auto;
}

footer.main-div_footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fffffffa;
    font-size: 12px;
    padding: 3px;
    background-color: #000000;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #68d975;
}